#==============================================================================
# PolyPhen-2 CONSTANTS
#------------------------------------------------------------------------------
# This file defines various constants for the alignment pipeline
#------------------------------------------------------------------------------
#
# $LastChangedDate: 2011-10-25 12:14:47 -0400 (Tue, 25 Oct 2011) $
# $LastChangedRevision: 375 $
# $LastChangedBy: ivan $
#
#==============================================================================

#----------------------------------------
# DSSP char for one chain
#----------------------------------------
ONECHAIN = _
#----------------------------------------

#----------------------------------------
# DSSP char for no secondary structure
#----------------------------------------
NOSECSTR = .
#----------------------------------------

#----------------------------------------
# BLAST gap char
#----------------------------------------
BLASTGAP = -
#----------------------------------------

#----------------------------------------
# CLUSTAL gap char
#----------------------------------------
CLUSTALGAP = -
#----------------------------------------

#----------------------------------------
# UNKNOWN RESIDUE
#----------------------------------------
UNKNOWNRESIDUE = X
#----------------------------------------

#----------------------------------------
# BLAST LIMIT SIZE
#----------------------------------------
BIGBLAST = 500000000
#----------------------------------------

#----------------------------------------
# BLAST DESCRITPTION WIDTH
#----------------------------------------
BLASTDESCWIDTH = 67
#----------------------------------------

#----------------------------------------
# BLAST DESCRIPTION WIDTH IN HTML
#----------------------------------------
BLASTDESCWIDTHHTML = 11
#----------------------------------------

#----------------------------------------
# CHAR FOR MASKED AA
#----------------------------------------
BLASTAAMASKED = X
#----------------------------------------
