#==============================================================================
# PolyPhen-2 DEBUGGING CONFIGURATION
#------------------------------------------------------------------------------
#
#------------------------------------------------------------------------------
#
# $LastChangedDate: 2011-10-25 12:14:47 -0400 (Tue, 25 Oct 2011) $
# $LastChangedRevision: 375 $
# $LastChangedBy: ivan $
#
#==============================================================================

#------------------------------------------------------------------------------
# DEBUGGING levels:
#                 0 - no debugging messages
#                 1 - '###'   - only messages at upmost level
#                 2 - '####'  - exported routines messages
#                 3 - '####'  - exported & private routine messages
#                 4 - '#####' - all possible code
#------------------------------------------------------------------------------
DEBUG           = 0
