{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block bar %}
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Single Variant Search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/list">Variant List Search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main %}
  <!-- Validate that the form is complete -->
  <form name="varForm" action="/outputFile" onsubmit="return validateListForm()" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend><h1>Enter Your List of Variants</h1></legend>
      <div class="form-group">
        <label for="file"><h4>Choose file to upload :   </h4></label>
        <input type="file" id="file" name="file" size="20" accept=".doc,.docx,.txt">
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-secondary disabled btn-lg btn-block">
        Submit
      </button>
    </fieldset>
  </form>
{% endblock %}