{% extends "layout.html" %}

{% block title %}
    Variant List Search
{% endblock %}

{% block vl_search %}active{% endblock %}

{% block main %}
  <!-- Validate that the form is complete -->
  <form name="varForm" action="/outputFile" onsubmit="return validateListForm()" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend><h1>Enter Your List of Variants</h1></legend>
      <div class="form-group">
        <label for="file"><h4>Choose file to upload :   </h4></label>
        <input type="file" id="file" name="file" size="20" accept=".doc,.docx,.txt">
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Submit
      </button>
    </fieldset>
  </form>
{% endblock %}